<!-- Carrusel -->
<main id="main">
    <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/imagenes/6.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/imagenes/9.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/imagenes/12.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 offset-md-6 text-md-right text-center">
                            <h1>Boutique Danielle</h1>
                            <p class="d-none d-md-block">Llego la temporada donde podras sentirte fresca y libre, solo
                                aqui
                                podras encontrar lo mas comodo para este verano.
                            </p>
                            <a href="/lerrcarousel" class="btn btn-boutique">Mas informacion</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--/Carrusel -->

<!-- Cards -->
<section id="novedad" class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-4 col-md-6 col-lg-4 col-sm-12 mx-auto">
                <div class="card" style="width: 18rem;">
                    <img src="/imagenes/pexels-photo-5890184.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Blusas</h5>
                        <p class="card-text">Existen blusas de todas las tallas y colores para sentirte fresca en
                            etas vacaciones.</p>
                        <a href="/blusas" class="btn btn-boutique">Ver
                            tendencia</a>

                    </div>
                </div>
            </div>
            <div class="col-12 mb-4 col-md-6 col-lg-4 col-sm-12 mx-auto">
                <div class="card" style="width: 18rem;">
                    <img src="/imagenes/falda.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Faldas</h5>
                        <p class="card-text">Para este verano contar con faldas es muy eficiente, sientiendote mas
                            libre.</p>
                        <a href="/faldas" class="btn btn-boutique">Ver tendencia</a>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-4 col-md-6 col-lg-4 col-sm-12 mx-auto">
                <div class="card" style="width: 18rem;">
                    <img src="/imagenes/hipster.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Hipster</h5>
                        <p class="card-text">Disfruta de la variedad de estilos hipster, para asi
                            sentirte mas libre y comoda.</p>
                        <a href="/trajes" class="btn btn-boutique">Ver tendencia</a>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-4 col-md-6 col-lg-4 col-sm-12 mx-auto">
                <div class="card" style="width: 18rem;">
                    <img src="/imagenes/vestido.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Vestidos</h5>
                        <p class="card-text">Vestidos nuevos en tu closet para sentirte mas libre y comoda en
                            verano.</p>
                        <a href="/vestido" class="btn btn-boutique">Ver tendencia</a>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-4 col-md-6 col-lg-4 col-sm-12 mx-auto">
                <div class="card" style="width: 18rem;">
                    <img src="/imagenes/top.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Tops sin mangas</h5>
                        <p class="card-text">Ejercitate comodamente con los nuevos top sin manga para esta
                            temporada.</p>
                        <a href="/top" class="btn btn-boutique">Ver tendencia</a>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-4 col-md-6 col-lg-4 col-sm-12 mx-auto">
                <div class="card" style="width: 18rem;">
                    <img src="/imagenes/short.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Shorts</h5>
                        <p class="card-text">Sientete libre y comoda usando los short vernao para estas vacaciones.
                        </p>
                        <a href="/short" class="btn btn-boutique">Ver tendencia</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Cards -->

<!-- Clase OnLine -->
<section id="nosotros">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6 col-12 pt-4 pb-4">
                <h2>Boutique</h2>
                <p>Nuestra tienda en una de las mas recomendadas de todo el lugar, por sus excelentes telas y precios en
                    cada prenda
                    para asi darle mejor comodidad y libertad a nustros clientes. Contamos con una administracion muy
                    amigable,
                    para hacer que tu compra sea eficiente y comoda.
                </p>

                <a href="/leer" class="btn btn-outline-light">Leer mas</a>
            </div>
            <div class="col-lg-6 col-12 pl-0 pr-0">
                <img src="/imagenes/nosotros.jpeg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- /Clase OnLine -->

<footer id="contact" style="background: url(/imagenes/celular3.jpeg);">
    <div class="container">
        <div class="row">
            <div class="col">
                <form style="float: right;">
                    <div class="card-body">
                        <div class="form-group">
                            <input type="text" placeholder="Nombre" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Apellidos" class="form-control">
                        </div>
                        <div class="form-group">
                            <textarea rows="10" cols="30" placeholder="Mensaje" class="form-control"></textarea>
                        </div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">
                            Enviar
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" >
                                    <div class="modal-body">
                                        Mensaje enviado con exito!
                                        <button type="button" class="btn btn-danger"
                                            data-dismiss="modal" style="float: right;">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>
<footer id="contacto" class="pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg">
                <div class="row">
                    <div class="col-12 col-lg-12 col-md-12">
                        <h5>Nos encontramos</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-12 col-md-12">
                        <p>Angeles #23</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-12 col-md-12">
                        <p>Encarnacion de Diaz</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg pt-4">
                <a href="#">Preguntas Frecuentes</a>
            </div>

            <div class="col-12 col-lg pt-4">
                <a href="#">Terminos y condiciones</a>
            </div>
        </div>
    </div>
    </div>
</footer>
<div id="footerDivider" class="pt-2 pb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <p>Copyrigt 2021 Boutique</p>
            </div>
            <div class="col-lg-6 col-12 text-lg-right text-left">
                <a href="">Noticias de privacidad</a>
            </div>
        </div>
    </div>
</div>