body{
    background-color:rgba(161, 115, 55, 0.979);
}
.imagen{
    width: 100%;
    height: 300px;
    background-image: url(/imagenes/blusaprincipal.jpeg);
    padding: 50px;
    filter: grayscale(60%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: rgba(10, 10, 10, 0.993);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .imagen{
    text-align: center;
  }

  .texto{
    color: rgba(10, 10, 10, 0.993);
    font-family: Arial, Helvetica, sans-serif;
  }
 
  .textos{
    color: rgba(161, 115, 55, 0.979);
    font-family: Arial, Helvetica, sans-serif;
  }

  .titulo{
    color: rgba(8, 8, 8, 0.993);
    font-family: Arial, Helvetica, sans-serif;
  }