* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #dad6c6;
}

.flash_container {
  margin-top: 20px;
}


#contacto{
  background-color: black;
}

#contacto a, #footerDivider a{
  color:white;
  text-decoration: none;
}

#contacto{
color: white;
}
#footerDivider{
  background-color: #c495a6;
}

#main img{
  max-height: 70vh;
  object-fit: cover;
  filter: grayscale(70%);
}

#carousel{
  position: relative;
}

#carousel .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: rgba(10, 10, 10, 0.5);
}

#carousel .overlay .container,
#carousel .overlay .row{
  height: 100%;
}

.btn-boutique{
  background-color: #c495a6;
  color: white;
}

.btn-boutique:hover{
  background-color: black;
  color: white;
}

#nosotros img{
  max-width: 100%;
}

#nosotros{
  background-color: black;
  color: white;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #c495a6;
  border-radius: .25rem;
 }
  
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
  margin-left: -3px;
  content: "";
  border-width: 5px 5px 0;
  border-top-color: #c495a6;
 }

