
    <div class="container menu_info mt-5">
        <div class="row">
            <div class="col-md-5 col-xl-4 mx-auto">
                <div class="card text-center">
                    <div class="card-header">
                        <h3>Agregar Producto</h3>
                    </div>
                    <div class="card-body">
                        <form action="/producto/add/{{id}}" method="POST">
                            
                                    <div class="form-group">
                                        <input type="text" name="nombre" placeholder="Nombre" class="form-control"
                                            required />
                                    </div>

                                    <div class="form-group">
                                        <input type="text" name="imagen" placeholder="Imagen" class="form-control"
                                            required />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="precio" placeholder="Precio" class="form-control"
                                            required />
                                    </div>

                                    <div class="form-group">
                                        <input type="text" name="cantidad" placeholder="Cantidad" class="form-control"
                                            required />
                                    </div>

                                <div class="form-group">
                                    <button class="btn btn-primary btn-block">
                                        Guardar
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script src="/js/index.js"></script>