

    <div class="container menu_info mt-5">
        <div class="row">
            <div class="col-md-5 col-xl-4 mx-auto">
                <div class="card text-center">
                    <div class="card-header">
                        <h3>Editar Producto</h3>
                    </div>
                    <div class="card-body">
                        <form action="/producto/edit/{{producto.id_producto}}" method="POST">
                            
                                    <div class="form-group">
                                        <input type="text" name="nombre" value="{{producto.nombre}}"
                                            placeholder="Nombre" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="imagen" value="{{producto.imagen}}"
                                            placeholder="Imagen" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="precio" value="{{producto.precio}}" 
                                        placeholder="Precio" class="form-control" />
                                    </div>

                                    <div class="form-group">
                                        <input type="text" name="cantidad" value="{{producto.cantidad}}"
                                            placeholder="Cantidad" class="form-control" />
                                    </div>

                            <div class="form-group">
                                <button class="btn btn-primary btn-block">
                                    Editar
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script src="/js/index.js"></script>