<section id="nosotros">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-12 pl-0 pr-0">
                        <img src="imagenes/fondo2.jpeg" alt="">
                    </div>
                    <div class="col-lg-6 col-12 pt-4 pb-4" style="background-color: #f5c5e5; color: #615d5f;">
                        <h2>Boutique Danielle</h2>
                        <p>Boutique Danielle es una plataforma nacional de comercio online.
                             La empresa está principalmente enfocada a la ropa femenina, pero también ofrece artículos para hombre,
                              ropa de niño, accesorios, zapatos, bolsos y otros artículos de moda. 
                              La marca fue creada en Febrero de 2016, con el lema "todo el mundo tiene derecho a disfrutar de 
                              la belleza de la moda". Todo empieza con una idea concebida por nuestros diseñadores.
                              La vida de un artículo comienza incluso antes de que el lápiz del diseñador toque el papel.
                              Todos nuestros productos están creados por maquinaria de alta precisión, que presta atención al detalle y al estilo.
                            Valoramos muchísimo la calidad y, a veces, nuestros productos son elaborados a mano por personas con amplia experiencia.
                            Después de rigurosas pruebas e inspecciones, nuestros productos se convierten en algo de lo que podemos sentirnos orgullosos: 
                            ¡un artículo a la moda y de calidad!
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <footer id="contacto" class="pt-4 pb-4">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg">
                        <div class="row">
                            <div class="col-12 col-lg-12 col-md-12">
                                <h5>Nos encontramos</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-12 col-md-12">
                                <p>Angeles #23</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-12 col-md-12">
                                <p>Encarnacion de Diaz</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-12 col-lg pt-4">
                        <a href="#">Preguntas Frecuentes</a>
                    </div>
        
                    <div class="col-12 col-lg pt-4">
                        <a href="#">Terminos y condiciones</a>
                    </div>
                </div>
            </div>
            </div>
        </footer>
        <div id="footerDivider" class="pt-2 pb-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <p>Copyrigt 2021 Boutique</p>
                    </div>
                    <div class="col-lg-6 col-12 text-lg-right text-left">
                        <a href="">Noticias de privacidad</a>
                    </div>
                </div>
            </div>
        </div>
