<section id="nosotros">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-12 pl-0 pr-0">
                        <img src="imagenes/carousel.jpeg" alt="">
                    </div>
                    <div class="col-lg-6 col-12 pt-4 pb-4" style=" background-color: #c495a6;">
                        <h2>Boutique Danielle</h2>
                        <p>Botique Danielle es una tienda donde te ofrecemos rop  de calidad y buenos servicios.
                            Aqui podras encontrar estilos de calidad muy alta de varios materiales desde algodon hasta 
                            pieles sinteticas. Para cada temporada puedes observar que tendencia existe y lo mejor de la moda
                            en el año presenye asi podras tener un guardaropa lleno de glamour y estilo. Puedes consultar precios, tallas,
                            desde la aplicacion. ofrece las últimas tendencias para mujeres y jóvenes, a unos precios más que atractivos.
                            Boutique Danielle es fiel a la idea de que "todo el mundo tiene derecho a disfrutar de la belleza de la moda". 
                            Es capaz de llevar las últimas tendencias basadas en la moda global y llevar esos estilos al mercado. 
                            Por tanto, si está buscando un estilo bohemio, camisetas gráficas, blusas estampadas o ropa de baño chic, 
                            Boutique Danielle es su tienda. El objetivo es ofrecer productos de calidad con estilo, a precios atractivos para todos 
                            los usuarios del mundo.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <footer id="contacto" class="pt-4 pb-4">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg">
                        <div class="row">
                            <div class="col-12 col-lg-12 col-md-12">
                                <h5>Nos encontramos</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-12 col-md-12">
                                <p>Angeles #23</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-12 col-md-12">
                                <p>Encarnacion de Diaz</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-12 col-lg pt-4">
                        <a href="#">Preguntas Frecuentes</a>
                    </div>
        
                    <div class="col-12 col-lg pt-4">
                        <a href="#">Terminos y condiciones</a>
                    </div>
                </div>
            </div>
            </div>
        </footer>
        <div id="footerDivider" class="pt-2 pb-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <p>Copyrigt 2021 Boutique</p>
                    </div>
                    <div class="col-lg-6 col-12 text-lg-right text-left">
                        <a href="">Noticias de privacidad</a>
                    </div>
                </div>
            </div>
        </div>