
<div id="content" class="">
    <div class="menu_info card mt-4">
        <div class="card-body card-buscador">
            <div class="col-auto">
                <div class="row">
                    <div class="col-md-6 input-group">
                        <input type="text" class="form-control" id="tableSearch" placeholder="Buscar">
                        <div class="input-group-prepend">
                            <button class="btn btn-search">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="breadcrumb mb-4 row justify-content-between aling-items-center">
                <div class="breadcrumb-item ">Lista de Productos</div>
                <div class="">
                    <a href="/producto/add" class="btn btn-primary btn-sm" style="margin-left: 10px;">
                        <i class="fas fa-plus-square"></i> Agregar Producto
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body col-xl-12">
            <div class="table-responsive">
                <table class="table table-hover" style="font-size: 14px;">
                    <thead>
                        <tr>
                            <th class="text-left">ID</th>
                            <th>Nombre</th>
                            <th>Imagen</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each producto}}
                        <tr>
                            <td class="text-left">{{id_producto}}</td>
                            <td>{{nombre}}</td>
                            <td>{{imagen}}</td>
                            <td>{{precio}}</td>
                            <td>{{cantidad}}</td>
                            <td>
                                <!--BOTÓN ACCIONES-->
                                <div class="btn-group dropleft">
                                    <div>
                                        <a href="/producto/edit/{{id_producto}}"
                                            class="btn btn-size-right btn-info ml-1">
                                            Editar
                                        </a>
                                    </div>

                                    <div>
                                        <a href="/producto/delete/{{id_producto}}"
                                            onclick="return confirm('¿Quieres eliminar a {{nombre}}?')"
                                            class="btn btn-size-right btn-danger ml-1" id="btn-delete">
                                            Eliminar
                                        </a>
                                    </div>
                                </div>
                                <!--END BOTÓN ACCIONES-->
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--END TABLA-->

    <script src="/js/index.js"></script>
    <script type="module" src="/js/excel.js"></script>
    
</div>