<main class="imagen">
    <h1 class="titulo">HIPSTER 2021</h1>
    <p class="texto">Las tendencias de este año solo las podras encontrar en Boutique Danielle, para
        todo tipo de estilos, gustos y talla, le aseguramos no se arrepentira de comprara en nustra tienda contando con
        un excelente servicio.
    </p>
</main>

<section class="texto">
    <section id="lente" class="mt-4">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-4 col-md-6 col-lg-4 col-sm-12 mx-auto">
                    <div class="card" style="width: 18rem;">
                        <img src="imagenes/chicaazul.jpg" class="card-img-top" alt="..."
                            style="width: 287px; height: 430px;">
                        <div class="card-body">
                            <h5 class="card-title">Pantalon</h5>
                            <td id="textos">Pantalon<br>
                                <br>
                                <section>
                                    Precio: $560.00<br><br>
                                    <label for="talla">Talla:</label>
                                    <select name="" id="poblaciones">
                                        <option value="s">S</option>
                                        <option value="m">M</option>
                                        <option value="l">L</option>
                                        <option value="xl">XL</option>
                                        <option value="xxl">XXL</option>
                                    </select><br><br>
                                    <label for="talla">Color:</label>
                                    <select name="" id="poblaciones">
                                        <option value="rojo">Mezclilla</option>
                                        <option value="amarillo">Negro</option>
                                        <option value="rosa">Blanco</option>
                                    </select><br><br>
                                </section>
                            </td>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4 col-md-6 col-lg-4 col-sm-12 mx-auto">
                    <div class="card" style="width: 18rem;">
                        <img src="imagenes/chica_lentes-negro.jpg" class="card-img-top" alt="..."
                            style="width: 287px; height: 430px;">
                        <div class="card-body">
                            <h5 class="card-title">Pantalon Cargo</h5>
                            <td id="textos">Pantalon Cargo<br>
                                <br>
                                <section>
                                    Precio: $500.00<br><br>
                                    <label for="poblacion">Talla:</label>
                                    <select name="" id="poblaciones">
                                        <option value="s">S</option>
                                        <option value="m">M</option>
                                        <option value="l">L</option>
                                        <option value="xl">XL</option>
                                        <option value="xxl">XXL</option>
                                    </select><br><br>
                                    <label for="poblacion">Color:</label>
                                    <select name="" id="poblaciones">
                                        <option value="blanco">Negro</option>
                                        <option value="verde">Bauge</option>
                                    </select><br><br>

                                </section>
                            </td>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4 col-md-6 col-lg-4 col-sm-12 mx-auto">
                    <div class="card" style="width: 18rem;">
                        <img src="imagenes/trajegisr.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Traje</h5>
                            <td id="textos">Traje<br>
                                <br>
                                <section>
                                    Precio: $990.00<br><br>
                                    <label for="poblacion">Talla:</label>
                                    <select name="" id="poblaciones">
                                        <option value="s">S</option>
                                        <option value="m">M</option>
                                        <option value="l">L</option>
                                        <option value="xl">XL</option>
                                        <option value="xxl">XXL</option>
                                    </select><br><br>
                                    <label for="poblacion">Color:</label>
                                    <select name="" id="poblaciones">
                                        <option value="multicolor">Azul</option>
                                        <option value="blanco">Rojo</option>
                                    </select><br><br>
                                </section>
                            </td>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <link rel="stylesheet" href="/css/indextrajes.css">