<main class="imagen">
    <h1 class="titulo">VESTIDOS 2021</h1>
    <p class="texto">Las tendencias de este año solo las podras encontrar en Boutique Danielle, para
        todo tipo de estilos, gustos y talla, le aseguramos no se arrepentira de comprara en nustra tienda contando con
        un excelente servicio.
    </p>
</main>

<section class="texto">
    <section id="lente" class="mt-4">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-4 col-md-6 col-lg-4 col-sm-12 mx-auto">
                    <div class="card" style="width: 18rem;">
                        <img src="imagenes/vestidorojo.jpeg" class="card-img-top" alt="..."
                            style="width: 287px; height: 430px;">
                        <div class="card-body">
                            <h5 class="card-title">Vestido Largo</h5>
                            <td id="textoconjunto">Abertura en espalda<br>
                                <br>
                                <section>
                                    Precio: $450.00<br><br>
                                    <label for="talla">Talla:</label>
                                    <select name="" id="poblaciones">
                                        <option value="s">S</option>
                                        <option value="m">M</option>
                                        <option value="l">L</option>
                                        <option value="xl">XL</option>
                                        <option value="xxl">XXL</option>
                                    </select><br><br>
                                    <label for="talla">Color:</label>
                                    <select name="" id="poblaciones">
                                        <option value="rojo">Rojo</option>
                                        <option value="amarillo">Amarillo</option>
                                        <option value="rosa">Rosa</option>
                                        <option value="verde">Verde</option>
                                    </select><br><br>
                                </section>
                            </td>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4 col-md-6 col-lg-4 col-sm-12 mx-auto">
                    <div class="card" style="width: 18rem;">
                        <img src="imagenes/cafe.jpeg" class="card-img-top" alt="..."
                            style="width: 287px; height: 430px;">
                        <div class="card-body">
                            <h5 class="card-title">Vestido Aberturas</h5>
                            <td id="textofalda">Estampado<br>
                                <br>
                                <section>
                                    Precio: $590.00<br><br>
                                    <label for="poblacion">Talla:</label>
                                    <select name="" id="poblaciones">
                                        <option value="s">S</option>
                                        <option value="m">M</option>
                                        <option value="l">L</option>
                                        <option value="xl">XL</option>
                                        <option value="xxl">XXL</option>
                                    </select><br><br>
                                    <label for="poblacion">Color:</label>
                                    <select name="" id="poblaciones">
                                        <option value="blanco">Blanco</option>
                                        <option value="verde">Verde</option>
                                    </select><br><br>

                                </section>
                            </td>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4 col-md-6 col-lg-4 col-sm-12 mx-auto">
                    <div class="card" style="width: 18rem;">
                        <img src="imagenes/colores.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Vestido Multicolor</h5>
                            <td id="textopantalon">Largo colorido<br>
                                <br>
                                <section>
                                    Precio: $590.00<br><br>
                                    <label for="poblacion">Talla:</label>
                                    <select name="" id="poblaciones">
                                        <option value="s">S</option>
                                        <option value="m">M</option>
                                        <option value="l">L</option>
                                        <option value="xl">XL</option>
                                        <option value="xxl">XXL</option>
                                    </select><br><br>
                                    <label for="poblacion">Color:</label>
                                    <select name="" id="poblaciones">
                                        <option value="multicolor">Multicolor</option>
                                        <option value="blanco">Blanco</option>
                                    </select><br><br>
                                </section>
                            </td>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <link rel="stylesheet" href="/css/indexvestido.css">