
{{>message}}
<body style="background-image: url(/imagenes/fondo3.jpeg);">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5 col-xl-4 mx-auto">
                <div class="card text-center">
                    <div class="card-header">
                        <h3>Iniciar sesión</h3>
                    </div>
                    <div class="card-body">
                        <form action="/login" method="POST">

                            <div class="form-group">
                                <input type="type" name="email" placeholder="Email" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <input type="password" name="password" placeholder="Contraseña" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-success btn-block" style="background-color: rgb(17, 17, 17);">
                                    Iniciar sesión
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
